<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.perlmutter.storedata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StoreData"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Storedata" />
        <activity android:name=".HomeScreen"></activity>
        <activity android:name=".SportStyle"></activity>
        <activity android:name=".CreateSport"></activity>
        <activity android:name=".ViewData"></activity>
        <activity android:name=".SportHome"></activity>
    </application>

</manifest>